{{ define "main" }}
<header class="page-header">
	<h1 class="page-title tc">
		{{ .Title | default .Site.Title }}
	</h1>
	{{- if .Params.subtitle }}
	<h2 class="tc text-c-700 em1 mt0 page-subtitle">{{ .Params.subtitle | lower }} 
		{{- if ne .Paginator.PageNumber 1 }} (Page {{ .Paginator.PageNumber}}){{ end -}}
	</h2>
	{{ end -}}
</header>
<section class="section-main">
	<div class="loop">
		{{ range first 10 (where site.Pages "Type" "post" ) }}
			{{ partial "card.html" . }}
		{{ end }}
	</div>
</section>
{{ end }}
