<div class="loop-content">
	<article class="wrap {{ if .Params.format }}format-{{ .Params.format }}{{ else }}format-standard{{ end }}">
		<header class="entry-header">
			<div class="entry-header-text">
				{{- if .Params.categories }}
				<div class="primary-category">
					{{ index .Params.categories 0 }}
				</div>
				{{ end -}}
				<h3 class="entry-title">{{ .Title }}</h3>
				{{ if .Params.excerpt }}
				<p class="excerpt">{{ .Params.excerpt }}</p>
				{{ end }}
			</div>
			{{ if .Params.featured_image }}
			<div class="post-thumbnail">
				<img loading="lazy" class="lazy-load" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{ .Params.featured_image }}" alt="" />
			</div>
			{{ end }}

			<a class="absolute-link" rel="hidden" href="{{ .Permalink }}"><span class="screen-reader-text">{{ .Title }}</span></a>

		</header><!-- .entry-header -->
		
	</article>

</div>