<div class="loop-content">
	<article class="wrap {{ if .Params.format }}format-{{ .Params.format }}{{ else }}format-standard{{ end }}">
		<header class="entry-header">
			<div class="entry-header-text">
				{{- if .Params.categories }}
				<div class="primary-category">
					{{ index .Params.categories 0 }}
				</div>
				{{ end -}}
				<h3 class="entry-title">{{ .Title }}</h3>
				{{ if .Params.excerpt }}
				<p class="excerpt">{{ .Params.excerpt }}</p>
				{{ end }}
			</div>
			{{ if .Params.featured_image }}
			<div class="post-thumbnail">
				<img src="{{ .Params.featured_image }}" alt="" />
			</div>
			{{ end }}

			<a class="absolute-link" rel="hidden" href="{{ .Permalink }}"><span class="screen-reader-text">{{ .Title }}</span></a>

		
		</header><!-- .entry-header -->
	
		<div class="card-image lazy-load" {{ with .Params.featured_image }}data-background-image="{{.}}"{{ end }}></div>
	
	</article>
	

</div>