<footer id="colophon" class="chameleon-bg site-footer">
	<section id="footer-sK" class="pad hero chameleon-border">
		<div class="grid grid--full grid--center medium-grid--fit">
			<div class="hero--text grid-cell">
				<h2><span class="chameleon-color">Hi there!</span> I’m sK and I love to share everything I learn.</h2>
				<p>
					Elsewhere, I've created a bunch of social good projects that reach millions of people every year, been featured in TIME, the New York Times, the Atlantic, NatGeo, &amp; other fancy places, and I've been living as a professional author / storyteller / comedian / activist person for about a decade. Here, I blog.
				</p>

				<p>Oh, and before you ask: yes, "Killerman<u>n</u>" is my real last name. (Sorry.)</p>

				<p class="chameleon-color">
					On this blog, I write essays for you (and me!) focusing on topics like (un)happiness, technology, creativity, &amp; hummus.
				</p>
			</div>
			<div class="hero--image">
				<svg class="spin"><use xlink:href="#icon-sK"></svg>
			</div>
		</div>

		<div class="button-group grid grid--full medium-grid--fit">
			<div class="grid-cell pad">
				<a href="https://www.patreon.com/join/killermann/" title="Be My Patron" class="button" onClick="ga('send', 'event', { eventCategory: 'Support', eventAction: 'button_click', eventLabel: 'Be My Patron'});">
					Be My Patron
				</a>
				<div class="description">I'm employed by a fine group of the best people in the world ever <a href="https://patreon.com/join/killermann" target="_blank" rel="noopener noreferrer" rel="noopener noreferrer"  onClick="ga('send', 'event', { eventCategory: 'Support', eventAction: 'button_click', eventLabel: 'On Patreon'});">on Patreon</a> i love them srsly wanna be one?</div>
			</div>
			<div class="grid-cell pad">
				<a href="https://samuelkillermann.com" title="Samuel Killermann Curriculum Vitae" class="button">
					View my Work
				</a>
				<div class="description">View <a href="https://samuelkillermann.com" target="_blank" rel="noopener noreferrer">online Curriculum Vitae</a> and see if I'm qualified for your patronage (or just to get a sense of where I'm coming from).</div>
			</div>
			<div class="grid-cell pad">
				<a href="/books/" title="Buy Merch" class="button" onClick="ga('send', 'event', { eventCategory: 'Support', eventAction: 'button_click', eventLabel: 'Buy Books'});">
					Buy my Books
				</a>
				<div class="description">I support this site, <a href="https://www.instagram.com/p/BkgEtu2no8W/" title="my puppy, chewbacca">my puppies</a>, and my <a href="https://hues.xyz" title="hues">global justice projects</a>, by selling books. Royalties buy coffee. Coffee fuels articles.</div>
			</div>
		</div>
	</section>
	<section id="site-navigation" class="navis">
		<a href="#masthead" class="button" title="Back to Top">&nbsp; &uarr; &nbsp;</a>
		{{ partial "footer-navigation" . }}
	</section><!-- #site-navigation -->
	<section id="colophon--inner">
		<div class="grid grid--full medium-grid--fit">
			<div class="grid-cell pad">
				<h3>
					Uncopyrighted
				</h3>
				<p>
					All the stuff I've made here &mdash; the words I've written, the doodles/artwork I've posted, and the videos or other content I've cobbled together &mdash; (unless otherwise noted), is uncopyrighted: it's my gift to you and the commons.
				</p>
				<p>
					<a href="https://uncopyright.org/notice/?uwn=www.samkillermann.com&?uwc=Sam+Killermann" alt="Uncopyright Notice" class="button">View Uncopyright Notice</a>
				</p>
			</div><!--/uncopyright-->
			<div class="grid-cell pad">
				<h3>
					Follow me Anywhere
				</h3>
				<p>
					I don't use social media a lot, so the mailing list is your best bet, but if you insist:
				</p>
				<p class="button-group">
					<a target="_blank" rel="noopener noreferrer" href="{{ .Site.Params.email_list_url }}" title="Sam Killermann Mailing List" class="button" onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'button_click', eventLabel: 'Instagram'});">Mailing List</a>
					<a target="_blank" rel="noopener noreferrer" href="https://instagram.com/killermann" title="Sam Killermann Instagram" class="button" onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'button_click', eventLabel: 'Instagram'});">Instagram</a>
					<a target="_blank" rel="noopener noreferrer" href="https://patreon.com/killermann" title="Sam Killermann Patreon" class="button" onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'button_click', eventLabel: 'Patreon'});">Patreon</a>
					<a target="_blank" rel="noopener noreferrer" href="https://facebook.com/samkillermann" title="Sam Killermann Facebook" class="button" onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'button_click', eventLabel: 'Facebook'});">Facebook</a>
					<a target="_blank" rel="noopener noreferrer" href="https://twitter.com/killermann" title="Sam Killermann Twitter" class="button" onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'button_click', eventLabel: 'Twitter'});">Twitter</a>
					<a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/c/SamKillermann" title="Sam Killermann YouTube" class="button" onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'button_click', eventLabel: 'YouTube'});">YouTube</a>
					<a target="_blank" rel="noopener noreferrer" href="https://github.com/killermann" title="Sam Killermann Github" class="button" onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'button_click', eventLabel: 'Github'});">Github</a>
					<a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/killermann/" title="Sam Killermann LinkedIn" class="button" onClick="ga('send', 'event', { eventCategory: 'Footer', eventAction: 'button_click', eventLabel: 'LinkedIn'});">LinkedIn</a>
				</p>
			</div><!--/follow-->
		</div><!--/grid-->
		<!--<div id="footer--how" class="chameleon-border mask-bg grid grid--full grid--center medium-grid--fit">
			<div class="site-info grid-cell bigpad">
				<h3>How I Built this Site</h3>
				<p>
					<p>This is a <a href="https://wordpress.org">Wordpress</a> blog that is served as a static <a href="https://jamstack.org/">JAMstack</a> site using&nbsp;<a href="https://getshifter.io">Shifter</a>. I developed/designed a custom theme using <a href="https://underscores.me/">_s</a> as the boilerplate, paring down everything I didn't need*, to try to make it as fast and accessible as possible. The theme I made is all open source and uncopyrighted, and you can <a href="https://github.com/killermann/sam-killermann-blog">view it on Github</a>.</p>
				</p>
				<p>
					*You might be wondering about the constantly shifting chameleon color scheme, and asking "Was <em>that</em> a need?" Yes, my friend. Because it makes me happy to visit this site, and I need to come here for this thing to work. So it was more than a need: it's everything.
				</p>
				<p>
					If you want to build a blog <em>exactly</em> like this one, I've provided almost everything you need above to do so. The only things missing are a solid understanding of HTML and CSS, a beginner's understanding of PHP, and a beginner's understanding of jQuery.
				</p>
			</div>
			<div class="grid-cell bigpad">
				<article class="card">
					<img class="card--image" src="https://www.samkillermann.com/wp-content/uploads/2018/12/sam-killermann-dot-com-100-pagespeed-score.jpg" alt="Image showing Google PageSpeed Score of 100">
					<section class="pad">
						<span class="primary-category">
							meta af
						</span>
						<h4 class="card--title">
							How I Made A WordPress Site with a 100 Score on Google Pagespeed Insights
						</h4>
						<p class="card--description">
							While saving over $100 / month on Wordpress hosting. (Oh, and this isn't an ad, even though it sounds like one.)
						</p>
						<span class="card--cta grid grid--fit grid--spaceBetween">
							Read How
							<span class="icon">&rarr;</span>
						</span>
					</section>
					<a href="//how-i-made-a-wordpress-site-with-a-100-score-on-google-pagespeed-insights/" title="How I Made A WordPress Site with a 100 Score on Google Pagespeed Insights" aria-label="How I Made a Wordpress Site with 100 Pagespeed Score">
					</a>
				</article>
			</div>
		</div>-->
	</section><!--/inner-->
</footer><!-- #colophon -->