<header id="masthead" class="chameleon-bg">
	<div id="masthead--inner">
		<a id="masthead-logo" title="sK Blog Home" href="/" rel="home" title="Home" aria-label="Home">
			<svg class="spin-hover"><use xlink:href="#icon-sK"></svg>
		</a>
		<nav class="navis">
			<a class="button" href="/subscribe/" style="margin-right: 0;" title="Subscribe to the Blog">Subscribe</a>
			<a href="#site-navigation" class="button" title="Navigate the Site">Menu</a>
		</nav>
		{{ partial "site-navigation" . }}
	</div>
</header><!-- #masthead -->