{{ define "header" }}{{ partial "site-header.html" . }}{{ end }}
{{ define "main" }}
<article class="pad format-page">
	<header class="entry-header text-wrap">
		<h1 class="page-title chameleon-color">	4😧4 Error</h1>
	</header><!-- .entry-header -->
	<section class="entry-content text-wrap">
		<p>Sorry you're here! Let's get you where you were trying to go.<p>
		<hr/>
		<h2>Does the thing you were looking for involve...</h2>
		<p style="font-size: 1.2em; line-height: 1.6;">
			{{ range $name, $taxonomy := .Site.Taxonomies.topics }}
				<a class="blob-link" href="/topics/{{ $name | urlize }}">{{ $name | humanize | title }}</a>, 
			{{ end }}
			<a style="opacity:.7;" class="blob-link" href="/topics/" title="View All Tags">view all &#10142;</a>
		</p>
	</section>
</article>
{{ end }}
