{{ define "main" }}
<style type="text/css">
.home-intro {
	font-size: 1.4em;
	line-height: 1.444;
}
</style>
<header class="archive-header">
	<h1 class="home-intro wrap" style="text-align: center; padding: 0 4vw; margin: 1em auto 0;">Welcome! <a href="/about/sam-killermann">I'm sK.</a> I blog about <a href="/categories/better-humaning">better humaning</a>, <a href="/categories/technolophizing">technolophizing</a> &amp; <a href="/categories/adventravel">adventravel</a>, exploring themes like <a href="/topics/unhappiness">(un)happiness</a>, <a href="/topics/fear">fear</a>, <a href="/topics/activism">activism</a>, <a href="/topics/mindfulness">mindfulness</a>, &amp; <a href="/topics/" title="All Tags">more</a>. I'm happy you're here.</h1>
</header>
<section class="section-main">
	<div class="loop">
		{{ range first 10 (where site.Pages "Type" "post" ) }}
			{{ partial "card.html" . }}
		{{ end }}
	</div>
	<center>
		<a href="/all/page/2" title="More Posts" class="biglink">More Posts</a>
	</center>
</section>
{{ end }}
