{{ define "main" }}
<style type="text/css">
.home-intro {
	font-size: 1.333em;
	line-height: 1.444;
	font-weight: 800;
	margin: 0 auto 1em;
}
</style>
<header class="home-header pad" style="padding-bottom: 0;">
	<h1 class="home-intro wrap"><span class="chameleon-color">Welcome!</span> 
		<a href="/about/sam-killermann">I'm sK.</a> I mostly blog about <a href="/categories/better-humaning">better humaning</a>, <a href="/categories/technolophizing">technolophizing</a>, <a href="/categories/work-dot-com/">work dot com</a> &amp; <a href="/categories/adventravel">adventravel</a>, exploring themes like <a href="/topics/unhappiness">(un)happiness</a>, <a href="/topics/fear">fear</a>, <a href="/topics/activism">activism</a>, <a href="/topics/mindfulness">mindfulness</a>, &amp; <a href="/topics/" title="All Tags">more</a>. 
	</h1>
	<p class="home-intro wrap"><span class="chameleon-color">Right now,</span> I'm in the process of publicly writing <a href="/topics/sjmd-book" title="Social Justice, Minus Dogma Book Entries">a book about dogmatic activism</a>, with a new post every day (scroll down a little to see today's entry). You can get <a href="https://bit.ly/sjmdbook" target="_blank" rel="noopener noreferrer">email updates</a> on just that, if you'd like.</p>
	<p class="home-intro wrap" style="margin-bottom: 0;">I'm happy you're here.</p>
</header>
<section class="section-main">
	<div class="loop">
		{{ range first 10 (where site.Pages "Type" "post" ) }}
			{{ partial "card.html" . }}
		{{ end }}
	</div>
	<center>
		<a href="/all/page/2" title="More Posts" class="biglink">More Posts</a>
	</center>
</section>
{{ end }}
