.format-standard {
	.entry-header-text {
		padding-bottom: 0;
	}
}

.format-quote {
	position: relative;
	text-align: center;

	&.single {
		margin: 6vw auto;
		.entry-header, .entry-footer {
			display: none;
		}
	}

	.primary-category {
		display: none;
	}

	blockquote {
		border:none;
		@extend .text-wrap;
		padding:0;
		margin: calc(25px + 4vw) auto;
		font-size: 2em;
		font-family: $serif;
		text-align: center;
		line-height: 1.333;

		&:before, &:after {
			position: absolute;
			font-family: $serif;
			line-height: 1;
			font-weight: 900;
			font-size: 2em;
			color: var(--bg-color);
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:before {
			content: '“';
			top: 15px;
			left: 15px;
		}

		&:after {
			content: '„';
			bottom: 15px;
			right: 15px;
		}
	}

	&.single blockquote:before, &.single blockquote:after {
		@extend .chameleon-color;
	}

	cite {
		font-style: normal;
		font-weight:900;
		opacity: .65;
		display: block;
		text-align: center;
		letter-spacing: 0.08em;
		font-family: $font__theme;
		text-transform:uppercase;
		line-height:1.44;

		&:before {
			content: '—';
			margin-right: .4em;
			display: inline-block;
			@extend .chameleon-color;
		}
	}
}


.format-status{

	&.single .entry-header {
		@extend .text-wrap;

		.excerpt {
			display: none;
		}
	}

	.entry-content {
		position:relative;
		@extend .card;
		@extend .pad;
		margin-bottom: 1.666rem;

		p:first-of-type {
			margin-top:0;
		}

		p:last-of-type {
			margin-bottom:0;
		}
	}

	.entry-footer {
		text-align: center;
	}
}

	#status-speech-bubble{
		display:block;
		position:absolute;
		top:-.51em;
		left:1.5em;
		width:2em;
		height:2em;
		color:var(--bg-faint);
		fill:currentColor;
		-moz-transform: scaleX(-1);
		-o-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		filter: FlipH;
		-ms-filter: "FlipH";
	}
	.single-format-status .format-status {
		margin:4vw auto;
	}
