.card {
	border-radius:25px;
	background: var(--bg-faint);
	overflow:hidden;

	.entry-header-text {
		padding:calc(3vw + 12px);
	}

	.entry-title {
		.svg-inline--fa {
			height: .7em;
		}
	}

	.post-thumbnail, .entry-header {
		margin:0;
	}

	.post-thumbnail {
		border-radius:0 0 25px 25px;
		clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%);
	}

	&:hover, &:focus {
		.post-thumbnail img {
			transform: scale(1.07);
		}
	}
}