$blue:				#567dff;
$light-blue:	#4ecaff;
$green:				#2aca38;
$light-green:	rgb(143, 218, 64);	
$yellow-green:rgb(200, 214, 40);
$orange:			#ff8229;
$light-orange:#ffb516;
$bright-red:	#ff5739;
$red:					#ff3737;
$pink: 				#FF529D;
$violet:			#8154fd;
$fuschia:			#f82eff;
$purple:			#B565F3;
$teal:				#00c9b5;
$grey: 				#9c9c9c;

$color__primary: $purple;

:root {
	--bg-color: rgb(240,240,240);
	--bg-faint: #fff;
	--bg-mask: rgba(240,240,240,.7);
	--text-color: #0e0028;
	--text-color-reverse: #fff;
}

$color__background-body: var(--bg-color);
$color__background-faint: var(--bg-faint);
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link-hover: lighten($color__primary,20%);
$color__text-main: var(--text-color);

$color__border-input: #ccc;
$color__border-abbr: #666;

::selection {background: lighten($teal,20%);}
